<header class="w-full navbar bg-base-300">
  <div class="flex items-center w-full">
    <div class="flex-1 px-2">
      <li><%= link_to 'ホーム', root_path, class: "text-lg font-bold text-orange-500"  %>
    </div> 
    <% if current_user %>
      <div class="flex">
        <li><%= link_to '投稿一覧', '#' %></li>
        <li><%= link_to 'マイページ', '#' %></li>
        <li><%= link_to 'ログアウト', '#' %></li>
      </div>
    <% else %>
      <div class="flex">
        <li><%= link_to 'ログイン', tasks_path %></li>
        <li><%= link_to '新規登録', new_user_path %></li>
      </div>
    <% end %>
  </div>
</header>
